

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
<div class="something">
    <% @products.each do |products| %>
    <div class="row">
      <div class="col-sm something1"><a href="#">
        <h1><%= products.name%></h1></a>
         <%= image_tag("red.jpg", class: "img-fluid") %>
          <%= products.name%>
          <p><%= products.description%></p>

          <strong>$ 42</strong>
      </div><!-- /col -->
    </div>
    <% end %>   
    </div> 
</div>


<br>

<%= link_to 'New Product', new_product_path %>




